@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "EB Garamond", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


eb-garamond-font {
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}